.twitlogo {
  width: 35px;
  height: 35px;
  padding-left: 10px;
}

.linklogo {
  width: 35px;
  height: 35px;
}

.ghlogo {
  width: 60px;
  height: 35px;
}

footer {
  padding: 10px
}

.treypic {
  border-radius: 5px;
  order: 1;
  flex-shrink: 1;
  width: 20%
}

.card {
  width: 33%;
  display: inline;
}

div.about-me {
  display: flex;
  gap: 10px;
  margin-bottom: 2em;
}

div.about-me p {
  align-self: center;
  order: 2;
  padding: 0.5em;
  text-align: left;
  background-color: rgb(193, 229, 241);
  border-radius: 5px;
  flex-shrink: 1;
}

h2 {
  text-align: center;
}

.show {
  border-radius: 5px;
  background-color: rgb(189, 189, 189);
  color: black;
}

.form-input {
  margin-left: 5px;
  margin-bottom: 5px;
}

.contact-form {
  margin: 8px;
}